.page_farm {
    display: flex;
    margin-top:2%;
    margin-left: 10%;
    height: 80vh;
    width: 80vw;
    border-radius: 2ch;
    color: rgb(255, 255, 255);
    background-color: #FFFFFF;
    font-size: calc(10px + 2vmin);
    align-items: flex-start
}

.title_farm{
    align-self: center;
    margin-top: 1vh;
    color: rgb(66, 124, 81);
}

.input_form{
    
}