.page_coffee {
    margin-top:2%;
    margin-left: 10%;
    border-radius: 2ch;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    background-color: #f1e6de;
    /* background-color: #241F21; */
}

.title_coffee{
    margin-top:2%;
    color: rgb(66, 124, 81);
}